* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Asap-font-family: "Asap", sans-serif;
    --Inconsolata-font-family: "Inconsolata", monospace;
    --Maven-Pro-font-family: "Maven Pro", sans-serif;

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --gren: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;
}

body {
    width: 100%;
    height: 100vh;
    margin: auto;
}