section {
    width: 100%;
    display: grid;
    justify-content: center;
}

#intro {
    height: 750px;
    background-image: url(../assets/image/Background_Intro.png);
    background-size: cover;

    header div {
        width: 680px;
        justify-self: center;
    }

    #introducao {
        width: 1040px;
        display: grid;

        a {
            width: 32px;
            height: 32px;
            justify-self: center;
            margin-bottom: 57px;
        }
    }

    #ft {
        position: relative;
        width: 112px;
        height: 112px;
        margin-block: 120px 56px;

        img:nth-child(1) {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
            justify-self: center;
            align-self: center;
            border: 2px solid var(--red);
        }
        img:nth-child(2) {
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: 2px;
            right: 2px;
        }
    }

    #apresentacao {
        text-align: center;

        h1 {
            margin-block: 8px 20px;
        }

        span:nth-child(2) {
            color: var(--red);
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-block: 80px 94px;
        gap: 16px;

        li {
            display: flex;
            background-color: var(--gray-400);
            height: 40px;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            border-radius: 50px;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

#projects {
    height: 917px;
    background-color: var(--gray-500);

    h2 {
        color: var(--red);
    }

    header {
        margin-top: 72px;
        display: grid;
        text-align: center;
        gap: 8px;
    }

    main {
        width: 1040px;
        margin-block: 56px 144px;
        flex-wrap: wrap;
        gap: 24px;
    }
}

#services {
    height: 480px;
    background-color: var(--gray-600);
}

#contact {
    height: 787px;
    background-image: url(../assets/image/Background_Contacts.png);
}