section {
    width: 100%;
    display: grid;
    justify-content: center;
}

.card {
    background-color: var(--gray-400);
    width: 330px;
    height: 280px;
    border-radius: 12px;
    img {
        width: 306px;
        height: 156px;
        border-radius: 12px;
        justify-self: center;
        margin-inline: 12px;
        margin-block: 12px 20px;
    }

    figcaption {
        gap: 8px;
        text-align: start;
        margin-inline: 12px;
        margin-bottom: 17px;
    }
}

header {
    text-align: center;
}

#destaque {
    color: var(--red);
}

#intro {
    height: 750px;
    background-image: url(../assets/image/Background_Intro.png);
    background-size: cover;

    header div {
        width: 680px;
        justify-self: center;
    }

    #box-intro {
        width: 1040px;
        display: grid;

        a {
            width: 32px;
            height: 32px;
            justify-self: center;
            margin-bottom: 57px;
        }
    }

    #ft {
        position: relative;
        width: 112px;
        height: 112px;
        margin-block: 120px 56px;

        img:nth-child(1) {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
            justify-self: center;
            align-self: center;
            border: 2px solid var(--red);
        }
        img:nth-child(2) {
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: 2px;
            right: 2px;
        }
    }

    #apresentacao {
        text-align: center;

        h1 {
            margin-block: 8px 20px;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-block: 80px 94px;
        gap: 16px;

        li {
            display: flex;
            background-color: var(--gray-400);
            height: 40px;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            border-radius: 50px;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

#projects {
    height: 917px;
    background-color: var(--gray-500);

    header {
        margin-top: 72px;
        display: grid;
        text-align: center;
        gap: 8px;
    }

    main {
        width: 1040px;
        margin-block: 56px 144px;
        flex-wrap: wrap;
        gap: 24px;
    }
}

#services {
    height: 480px;
    background-color: var(--gray-600);

    #box-services {
        margin-block: 88px 120px;
    }

    header {
        gap: 8px;
        margin-bottom: 56px;
    }

    main {
        gap: 24px;
        .balloon {
            border: 2px solid var(--gray-500);
            border-radius: 12px;

            padding: 20px;
            gap: 20px;
            .description {
                gap: 8px;
            }
        }
    }
}

#contact {
    height: 787px;
    background-image: url(../assets/image/Background_Contacts.png);
}