.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-100);
}
.title-md {
    font: var(--title-md);
    color: var(--gray-100);
}
.title-sm {
    font: var(--title-sm);
    color: var(--gray-100);
}
.subtitle {
    font: var(--subtitle);
    color: var(--gray-200);
}
.text-md {
    font: var(--text-md);
    color: var(--gray-200);
}
.text-sm {
    font: var(--text-sm);
    color: var(--gray-300);
}